{% extends 'base.html' %}
{% block title %} Login {% endblock %}
 <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> 

{% block content %}
  <title>Lgm</title>
<body>

    <div class="parallax">
      <img class="img-responsive" src="media/images/e.jpg" alt="">
    </div>
   

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Comienza tu día con más energía.</h5>

            <p class="light">Una vez que te haz levantado hacer un poco de ejercicio es bueno para activarte y empezar tu día lleno de energía.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Retos compartidos.</h5>

            <p class="light">Convierte tu reto deportivo en un gran reto. Comparte con tus amigos y familiares tu reto y haz que ellos tambien participen en tu reto </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">assessment</i></h2>
            <h5 class="center">Estadisticas</h5>

            <p class="light">Las estadísticas en el deporte son algo básico para entender el rendimiento y las formas de evaluación de la práctica deportiva.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!--  Scripts>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script-->

  </body>
</html>
{% endblock %}
