{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center teal-text text-lighten-2"></h1>
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/media/images/cod.jpg" ></div>
</div>
<!--   Icon Section   -->
  <!--div class="container green darken-2">
  <div class="section"-->
  <div class="row white">
    <div class="col s12 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <h3>eMove</h3>
      <h4> es una aplicacion sobre control de peso y vida saludable, el cual tiene como objetivo informar a la población sobre su estado físico mediante estadísticas mensuales en las cuales usted podrá saber cómo se encuentra de salud y/o mejorar su estado físico ya que la aplicación brinda tips de alimentación balanceada los cuales podrían ayudarle a mejorar su calidad de vida.</h4>
    </div>
  </div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/media/images/graf.jpg" ></div>
</div>
<div class="container">
  <div class="section">
   <div class="row white">
    <div class="col s12 m4">
      <div class="white">
        <h5 class="center">Alimentacion.</h5>
        <p class="light">Una vez que te haz levantado hacer un poco de ejercicio es bueno para activarte y empezar tu día lleno de energía alimentandote de la mejor manera .</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="white">
        <h5 class="center">Lugares</h5>
        <p class="light">Busca lugares cercanos en los que tu puedes realizar ejercicio. Haz uso de el mapa que aparece en la barra de navegacion. </p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="white">
        <h5 class="center">Estadisticas</h5>
        <p class="light">Informate sobre tu estado físico mediante estadísticas mensuales en las cuales podrás saber cómo te encuentras de salud para mejorar tu estado físico.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
