{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="class">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="/media/images/poy.jpg">
        </div>
        <div class="card-content">
          <h1 class="card-title">
            Hola
          </h1>
           es una aplicacion sobre control de peso y vida saludable, el cual tiene como objetivo informar a la población sobre su estado físico mediante estadísticas mensuales en las cuales usted podrá saber cómo se encuentra de salud y/o mejorar su estado físico ya que la aplicación brinda tips de alimentación balanceada los cuales podrían ayudarle a mejorar su calidad de vida.
        </div>
        <div class="card-action">
          <a class="#">Enlace</a>
        </div>
      </div>
    </div>
    
    <div class="col s6">
      
    </div>
  </div>
</div>
{% endblock %}
<!--br>
<div class="container">

  <div class="row">
    <div class="col s12">
      <div class="card">
      <div class="card-image">
        <img src="/media/images/lgm3.png" class="responsive-img" circle z-depth-5>
      </div>
        <div class="card-content">
            es una aplicacion sobre control de peso y vida saludable, el cual tiene como objetivo informar a la población sobre su estado físico mediante estadísticas mensuales en las cuales usted podrá saber cómo se encuentra de salud y/o mejorar su estado físico ya que la aplicación brinda tips de alimentación balanceada los cuales podrían ayudarle a mejorar su calidad de vida.
        </div>
        <div class="card-action">
          <a href="{% url 'vista_principal' %}">video eMove</a>
        </div>
      </div>
    </div>
  </div>  
</div>