{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<br>

<div class="container">
  <div class="col s6">
    <div class=" light-green accent-1">
        <h4>
        <center>
          Contáctanos 
        </h4>  
    </div>
  </div>
</div>


<div class="container" style="text-align: right" >
  <div class="col s12">
    {% if info_enviado %}
    <p><h4>Gracias por enviar tu comentario, nos pondremos en contacto</h4></p>
    <h5>la informacion envida fue la siguiente</h5>
    <p><strong>Email</strong>:  {{ email }}</p>
    <p><strong>Titulo</strong>: {{ title }}</p>
    <p><strong>Comentario</strong>:</p>
    {{ text }}
    {% else %}
    <form action="." method = "POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class = "waves-effect light-green accent-2 btn-large " type = "submit" value = "Enviar"/>
    </form>
    <br>
    {% endif %}
  </div>
</div>

{% endblock %}
