{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>lgm</title>

</head>

<body>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="media/images/e.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Bebe antes de cada comida un vaso de agua</h3>
            <h3><p class="text-primary">De esta manera te sentiras mas hidratado y más saciado lo que te ayudara a evitar que comas en exceso.</h3></p>
        </div>
      </li>
      <li>
        <img src="media/images/q.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Come Frutas</h3>
          <h5 class="light grey-text text-lighten-3">Al menos 2 o 3 porciones deben ser de vegetales, proporcionandote energia de buena calidad sin mencionar los antioxidantes y vitaminas que obtienes.</h5>
        </div>
      </li>
      <li>
        <img src="media/images/w.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
      




        <div class="container">

            <div class="row">
                <div class="col s12">
                    <div class="intro-message">
                    
                        <h1>Let's Get Moving</h1>
                        <h3><p class="text-primary">Una nueva oportunidad de nutrirte mejor y sentirte bien</h3></p>
                        <hr class="intro-divider">
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col s6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Bebe antes de cada comida un vaso de agua</h2>
                    <h3><p class="text-primary">De esta manera te sentiras mas hidratado y más saciado lo que te ayudara a evitar que comas en exceso.</h3></p>
                </div>
                <div class="col s6">
                    <img class="img-responsive" src="media/images/e.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


        <div class="container">
            <div class="row">
                <div class="col s6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Come Frutas</h2>
                    <h3><p class="text-primary">Al menos 2 o 3 porciones deben ser de vegetales, proporcionandote energia de buena calidad sin mencionar los antioxidantes y vitaminas que obtienes.</h3></p>
                </div>
                <div class="col s6">
                    <img class="img-responsive" src="media/images/q.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    

        <div class="container">

            <div class="row">
                <div class="col s6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ejercitate</h2>
                    <h3><p class="text-primary">Ejercitar hasta sudar por una hora a la semana no solo mejora la musculatura, también disminuye la tensión, reduce el riesgo de un ataque al corazón, baja el colesterol y beneficia la función cardiovascular.</p>
                </div>
                <div class="col s6">
                    <img class="img-responsive" src="media/images/w.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
   

    </div>
    <!-- /.banner -->




<!--Jqery-->

</body>
</html>
{% endblock %}






