{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<br>
<center>
<div class="container">
  <div class="col s6">
    <div class="light-green accent-1">
        <h4>
         Bienvenidos a eMove
        </h4>  
    </div>
  </div>
</div>
  <div class="container">
  <br>
  <div class="title"><h3></h3></div>
  <br>
<div class="video-container z-dept">
    <iframe width="853" height="480" src="/media/videos/emove.mp4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>  
{% endblock %}
