{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
<title>lgm</title>
</head>

<body>
    <div class="parallax-container">
        <div class="parallax">
          <img src="/media/images/ml.jpg" style="transform: translate3d(-50%, 100px, 0px); display: block;">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
          <center>
          <h2 class="header">eMove</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/media/images/fr.jpg"></div>
    <div class="parallax-container">
        <div class="parallax">
          <img src="/media/images/2.jpg" style="transform: translate3d(-50%, 337px, 0px); display: block;">
        </div>
      </div>
  </div>
</body>
</html>
{% endblock %}





























        <!--div class="slider">
        <ul class="slides">
            <li>
                <img src="media/images/ag.jpg"> 
                <div class="caption center-align">
                    <h3>Bebe antes de cada comida un vaso de agua</h3>
                    <h5 class="light grey-text text-lighten-3">De esta manera te sentiras mas hidratado y más saciado lo que te ayudara a evitar que comas en exceso.</h5>
                </li>
            </div>
            <li>
                <img src="media/images/fr.jpg"> 
                <div class="caption center-align">
                  <h3>Come Frutas</h3>
                  <h5 class="light grey-text text-lighten-3">Al menos 2 o 3 porciones deben ser de vegetales, proporcionandote energia de buena calidad sin mencionar los antioxidantes y vitaminas que obtienes.</h5>
              </div>
            </li>
            <li>
            <img src="media/images/ej.jpg"> 
            <div class="caption center-align">
              <h3>Ejercitate</h3>
              <h5 class="light grey-text text-lighten-3">Ejercitar hasta sudar por una hora a la semana no solo mejora la musculatura, también disminuye la tensión, reduce el riesgo de un ataque al corazón, baja el colesterol y beneficia la función cardiovascular.</h5>
            </div>
            </li>
            <li>
                <img src="media/images/cent.png"> 
            <div class="caption center-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
            </div>
            </li>
        </div-->














