{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<form action="." method="POST" align="center">
				{% csrf_token %}
				{{mensage}}
				{{form.as_p}}
				<button type="submit" a class="waves-effect green darken-2 btn-large" type="submit"  value="Login"><i class="material-icons left">lock</i>Login </button></a>
			</form>
			<br>
			<form align = "center">
				<a href="/registro/"  class="waves-effect green darken-2 btn-large"><i class="material-icons left"> 
					border_color</i>Registrar</a>

			</form>
		</div>
	</div>		
</div>

{% endblock %}
