{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
  <body background="#c8e6c9">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nutricion sugerida</title>

 <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/media/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/media/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!--  Scripts-->
  <script src="/media/js/jquery-2.1.1.min.js"></script>
  <script src="/media/materialize/js/materialize.js"></script>
  <script src="/media/materialize/js/init.js"></script>
<br>
<section>
<br>
<center>
<div class="container">
  <div class="col s6">
    <div class="light-green accent-1">
        <h4>
          Nutrición sugerida
        </h4>  
    </div>
  </div>
</div>
<div class="container">
<div class="row white">
  <div class="col s12">
      <h3><i class="mdi-content-send brown-text"></i></h3
      
      <h6>Llevar una dieta sana a lo largo de la vida ayuda a prevenir la mal nutrición en todas sus formas, así como distintas enfermedades no transmisibles y diferentes afecciones. Sin embargo, el aumento de la producción de alimentos procesados, la rápida urbanización y el cambio en los estilos de vida han dado lugar al cambio en los hábitos alimenticios. Ahora se consumen más alimentos hipercalóricos, más grasas saturadas, más grasas de tipo trans, más azúcares libres y más sal o sodio; además, hay muchas personas que no comen suficientes frutas, verduras y fibra dietética, como por ejemplo cereales integrales.</h6>
  </div>
</div>
</div>
</section>

<div class="container">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/media/images/mexica.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h4 class="black-text">Desayuno</h4>
          <h6 class="black-text text-lighten-3">Lacteos: yogur, leche o queso fresco bajo en grasa.
            Féculas: Pan o biscotes o cereales de desayuno.
            Proteínas: Jamón cocido o jamón serrano o atún.</h6>
          </div>
        </li>
        <li>
          <img src="/media/images/salud.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3 class="black-text">Almuerzo</h3>
            <h6 class="black-text text-lighten-3"> Verdura cruda o cocida: elegir entre las siguientes hasta alcanzar al menos 250g en cada comida: Ensalada, (berenjena, pimiento, tomate, cebolla), tomate, calabacín, apio, acelgas, pepino, alcachofas, zanahoria, espinacas, espárragos, setas variadas, coliflor, cebolla, cebollas, rábanos, coles de bruselas, brócoli, col.

          Harinas a elegir entre: Patata, arroz, pasta alimentaria, maíz, legumbres (lentejas, garbanzos, judías blancas, guisantes, habas,), pan.

          Proteínas: carne o pescado/huevos o equivalentes. Una ración a elegir entre: cortes de magros de ternera, buey, avestruz, pollo sin piel, menos frecuentes otras carnes más grasas como el cordero o cerdo, pescado azul o blanco, atún en conserva al natural o en aceite de oliva, huevos, calamar, jamón cocido o serrano sin grasa visible, quesos frescos o con bajo contenido en grasa.</h6>
            </div>
          </li>
          <li>
            <img src="/media/images/20.png" > <!-- random image -->
            <div class="caption left-align">
              <h4 class="black-text">Comida</h4>
              <h6 class="black-text text-lighten-3">Igual que en la comida, asegurándose que incluya todos los grupos de alimentos. Intenta consumir la verdura cruda, en ensaladas al menos una vez al día.</h6>
            </div>
          </li>
    </ul>
  </div>
</div>

{% endblock %}



   