{% extends 'base.html' %}
{% block title %} Registro {% endblock %}
{% block content %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<center>
	<div class="container">
		<div class="col s6">
			<form action="." method = "POST" align="center">
				
				{% csrf_token %}
				{{ form.as_p }}
				<script>
				$(function() {
					$( "#datepicker" ).datepicker({
						changeMonth: true,
						changeYear: true,
						yearRange: "1900:2080",
						dateFormat: 'dd/mm/yy',
      // You can put more options here.

  });
				});
				</script>

				<button type="submit" a class="waves-effect green darken-2 btn-large" ><i class="material-icons left"> 
					border_color</i>Registrar 

				</button></a>
			</form>
		</div>
	</div>



	{% endblock %}
