{% extends 'base.html' %}
{% block title %} Reporte {% endblock %}
{% block content %}



  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);
      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        arreglo=[
           ['Mes', 'Masa Muscular', 'Peso', 'Grasa Visceral', 'Grasa Corporal','Masa Osea', '% Agua', 'Edad Metabolica','BMR']
        ]


      {%  for item in lista %}
            arreglochico= ["{{item.fecha_hora}}", Number("{{item.masamuscular}}"), Number("{{item.peso}}"),Number("{{item.grasa_viceral}}"),Number ("{{item.grasa_corporal}}"),Number ("{{item.masa_osea}}"),Number( "{{item.agua}}"),Number ("{{item.edad_metabolica}}"),Number ("{{item.bmr}}")  ]
            arreglo.push(arreglochico)


        {% endfor %}

        console.log(arreglo)
       
        data = google.visualization.arrayToDataTable(arreglo)


    var options = {
      title : 'TU Composicion Corporal',
      vAxis: {title: 'Valoracion'},
      hAxis: {title: 'Fecha'},
      seriesType: 'bars',
      series: {5: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
    </script>
<br>
<center>
<div class="container">
  <div class="col s6">
    <div class="light-green accent-1">
        <h4>
         Esta es tu valoración
        </h4>  
    </div>
  </div>
</div>



   <div id="chart_div" style="width: 900px; height: 500px;"></div>

{% endblock %}