{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %} 
<div class="container">
  <br>
{% if lista %}
      <table class="bordered striped">
        <thead>
          <tr>
              <th data-field="">Fecha</th>
              <th data-field="">Masa Muscular</th>
              <th data-field="">Peso</th>
              <th data-field="">Grasa Visceral</th>
              <th data-field="">Grasa Corporal</th>
              <th data-field="">Porcentaje De Agua</th>
              <th data-field="">Masa Osea</th>
              <th data-field="">Edad Metabolica</th>
              <th data-field="">BMR</th>
          </tr>
        </thead>

        <tbody>
          {% for t in lista %}
          <tr>
            <td>{{t.fecha_hora}}</td>
            <td>{{t.masamuscular}}</td>
            <td>{{t.peso}}</td>
            <td>{{t.grasa_viceral}}</td>
            <td>{{t.grasa_corporal}}</td>
            <td>{{t.agua}}</td>
            <td>{{t.masa_osea}}</td>
            <td>{{t.edad_metabolica}}</td>
            <td>{{t.bmr}}</td>
          </tr>
          {% endfor %}          
        </tbody>
      </table>

{% else %}
  <center>
    <h4>
    En este momento no cuenta con ninguna valoración, si usted lo desea puede agregarla ahora
    </h4>


<a href="{% url 'vista_tanita' %}" class="waves-effect light-green accent-2 btn-large"><i class="material-icons left">add</i> Agregar una  Valoración</a>
<br>
  </center>
</div>

{% endif %}
{% endblock %}      