{% extends 'base.html' %}
{% block title %} Taringa {% endblock %}
{% block content %}

  

<div class="row">
<center>
  <h2 class="section-heading">Tu Composición Corporal</h2>
    <h3 class="section-subheading text-muted">Comencemos</h3>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
          <input id="first_name" type="text" class="validate">
           <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">date_range</i>
          <input id="last_name" type="text" class="validate">
          <label for="disabled">Fecha</label>
        </div>
      </div>

<div class="row">
<center>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">face</i>
          <input id="first_name" type="text" class="validate">
           <label for="first_name">Edad</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">wc</i>
          <input id="email" type="email" class="validate">
          <label for="email">Genero</label>
        </div>
      </div>

<div class="row">
<center>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">accessibility</i>
          <input id="password" type="password" class="validate">
          <label for="password">Estatura</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">hourglass_full</i>
          <input id="email" type="email" class="validate">
          <label for="email">Peso</label>
        </div>
      </div>
    </div>





<div class="row">
<center>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix"></i>
          <input id="first_name" type="text" class="validate">
           <label for="first_name">Grasa Corporal</label>
        </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">invert_colors</i>
          <input id="last_name" type="text" class="validate">
          <label for="disabled">Agua Corporal</label>
        </div>
      </div>

<div class="row">
<center>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">pregnant_woman</i>
          <input id="first_name" type="text" class="validate">
           <label for="first_name">Grasa Visceral</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="email" type="email" class="validate">
          <label for="email">Masa Osea</label>
        </div>
      </div>

<div class="row">
<center>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">fitness_center</i>
          <input id="password" type="password" class="validate">
          <label for="password">Masa Muscular</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="email" type="email" class="validate">
          <label for="email">Edad Metabolica</label>
        </div>
      </div>
    </div>


 <div class="clearfix"></div>
    <div class="col-lg-12 text-center">
      <div id="success"></div>
          <button type="submit" a class="waves-effect blue lighten-1 btn-large"><i class="material-icons left">offline_pin</i>Chequear </button></a>
    </div>
        
    



        

        <!--div class="container">
            <div class="row">
                <div class="col s12">
                    <center>
                    <h2 class="section-heading">Tu Composición Corporal</h2>
                    <h3 class="section-subheading text-muted">Comencemos</h3>
                </div>
            </div>
                <div class="col s6">
                    <form  >
                        <div class="row">
                            <div class="col s6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre *" id="name" required data-validation-required-message="Porfavor ingrese su nombre.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Edad *" id="edad" required data-validation-required-message="Porfavor ingresa tu edad.">
                                    <p class="help-block text-danger"><ead/p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Estatura *" id="estatura" required data-validation-required-message="Porfavor ingresa tu estatura.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Grasa Corporal *" id="grasa" required data-validation-required-message="Porfavor ingresa datos.">
                                    <p class="help-block text-danger"></p>
                                </div>
                              
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Grasa Visceral *" id="vis" required data-validation-required-message="Porfavor ingresa datos.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Masa Muscular *" id="mus" required data-validation-required-message="Porfavor ingresa datos.">
                                    <p class="help-block text-danger"></p>
                                </div>   
                                </div>

                                <div class ="col s6">
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Fecha *" id="fecha" required data-validation-required-message="Porfavor ingrese la fecha.">
                                    <p class="help-block text-danger"></p>
                                </div>    
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Genero *" id="genero" required data-validation-required-message="Porfavor ingresa tu genero.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Peso *" id="peso" required data-validation-required-message="Porfavor ingresa tu peso.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Agua Corporal *" id="agua" required data-validation-required-message="Porfavor ingresa datos.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Masa Osea *" id="osea" required data-validation-required-message="Porfavor ingresa datos.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Edad Metabolica *" id="vis" required data-validation-required-message="Porfavor ingresa datos.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            


                          
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" a class="waves-effect blue lighten-1 btn-large">Chequear
                                </button></a>
                            </div>
                    </form>
                </div>
            </div>
        </div-->
   



{% endblock %}
