<!DOCTYPE html>
<html lang="es">
<head>
	<title>lgm</title>
	<!--Importar materialize.css-->
	<link type="text/css" rel="stylesheet" src="/media/materialize/css/materialize.min.css" media="screen,projection">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="media/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	
	<!--link href="media/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/-->
	<link href="/media/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
    <!--Importar jQuery antes que materialize.js-->   
    <script type="text/javascript" src="/media/js/jquery-2.1.1.min.js"></script> 
	<script type="text/javascript" sc="/media/js/materialize.min.js"></script>
	<script src="/media/js/materialize.min.js"></script>
	<!--script type="text/javascript" src="media/js/parallax.js"></script-->

</head>

<body>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<header>
		<nav>
			<div class="nav-wrapper green darken-2">
				<img src="/media/images/00..png" class="brand-logo" ></img>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{% url 'vista_principal' %}">Home</a></li>
					<li><a href="{% url 'vista_about' %}">Quienes Somos</a></li>
					<li><a href="{% url 'vista_tanita' %}">Tanita</a></li>
					<li><a href="{% url 'vista_registro' %}">Registro</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'vista_logout' %}"> Cerrar Sesion</a></li>
					{% else %}
						<li><a href="{% url 'vista_login' %}">Login</a></li>
					{% endif %}
					<li><a href="{% url 'vista_contact' %}">Contacto</a></li>	
				</ul>
			</div>
		</nav>
	</header>
<div class = "hero-unit">
	{% block content %}
	{% endblock %}
</div>


</body>
</html>



